<div class="topbar-inner">
  <div class="container-fluid">
    <h3><%= link_to "Acreditaciones", "/" %></h3>
    <ul class="nav">
      <li><%= link_to "Alumnos", alumnos_path  %></li>
      <li><%= link_to "Actividades", actividades_path  %></li>
      <li><%= link_to "Ordinarios", ordinarios_path  %></li>
    </ul>
  </div>
</div>
