= form_for @actividade, :url => actividade_path(@actividade), :html => { :class => "edit_actividade", :id => "edit_actividade" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
