= form_for @ordinario, :url => ordinario_path(@ordinario), :html => { :class => "edit_ordinario", :id => "edit_ordinario" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
